footer.row.footer
  .container
    .row
      .span2
        h3 Links
        ul
          li
            a(href="#") About
          li
            a(href="#") FAQ
      .span4
        h3 Stay in touch
        p Follow us on twitter and facebook
      .span4
        h3 Sign up for newsletter
        p Subscribe to our monthly newsletter and be the first to know about our news and special deals!
        form
          input(type='text', placeholder='Enter your E-mail')
          &nbsp;
          input.btn(type='submit', value='Ok')

