footer.row.footer
  .container
    .row
      .span4
        h3 Stay in touch
        p Follow us on twitter, facebook, youtube, github and tumblr.
          br
          | We will keep you posted on whats going on.
        //
          p
            a.twitter-follow-button(href='https://twitter.com/hackfest_in', data-show-count='false') Follow @hackfest_in
            script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          p
            .fb-like(data-send='false', data-layout='button_count', data-width='130', data-show-faces='false', data-font='lucida grande')
          p
            iframe(frameborder='0', border='0', scrolling='no', allowtransparency='true', height='25', width='115', src='http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=hackfest&color_scheme=light')
        p
          a(href="http://twitter.com/hackfest_in", target="_blank")
            img(src="/img/twitter.png")
          &nbsp;&nbsp;&nbsp;
          a(href="http://facebook.com/hackfest.in", target="_blank")
            img(src="/img/facebook.png")
          &nbsp;&nbsp;&nbsp;
          a(href="http://www.youtube.com/hackfestindia", target="_blank", style="color: #eee")
            img(src="/img/youtube.png", width=34, height=34)
          &nbsp;&nbsp;&nbsp;
          a(href="https://github.com/hackfest", target="_blank", style="color: #eee")
            img(src="/img/github.png", width=35, height=35)
          &nbsp;&nbsp;&nbsp;
          a(href="http://blog.hackfest.in", target="_blank", style="color: #eee")
            img(src="/img/tumblr.png", width=34, height=34)
      .span4
        h3 Newsletter
        p Subscribe to our monthly newsletter and be the first to know about our news!
        form
          input(type="text", placeholder="Your e-mail")
          &nbsp;
          input.btn.btn-success(type="submit", value="Sign up")
      .span3.offset1
        h3 Contact
        p You can write us at&nbsp;
          a(href="mailto:support@hackfest.in") support@hackfest.in
          |  Or call Anit (+91 96655 49658) or Krunal (+91 85548 73684) 
    .row
      .span12.ac
        p Hackfest &copy; 2012

    


