script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript')
  var addthis_config = {"data_track_addressbar":true};
script(type='text/javascript', src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-500ca2366d766962')
script(type='text/javascript', src='/js/app.js')
