footer.row.footer
  .container
    .row
      .span4
        h3 Stay in touch
        p Follow us on twitter, facebook and tumblr.
          br
          | We will keep you posted on whats going on.
        p
          a.twitter-follow-button(href='https://twitter.com/hackfest_in', data-show-count='false') Follow @hackfest_in
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        p
          .fb-like(data-send='false', data-layout='button_count', data-width='130', data-show-faces='false', data-font='lucida grande')
        p
          iframe(frameborder='0', border='0', scrolling='no', allowtransparency='true', height='25', width='115', src='http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=hackfest&color_scheme=light')
      .span4
        h3 Newsletter
        p Subscribe to our monthly newsletter and be the first to know about our news and special deals!
        form
          input(type="text", placeholder="Your e-mail")
          &nbsp;
          input.btn(type="submit", value="Sign up")
      .span3.offset1
        h3 Contact
        p You can write us at&nbsp;
          a(href="mailto:info@hackfest.in") info@hackfest.in
        address 3rd Floor, C-1 Building, Nyati Millennium, Viman Nagar, Pune – 411014, India&nbsp;
        a(href="http://goo.gl/maps/HXeY", target="_blank") Get Directions
    .row
      .span12.ac
        p Hackfest &copy; 2012


