
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/')= appName
        .nav-collapse.collapse
          ul.nav
            li
              a(href="https://github.com/madhums/hackfest", title="fork me on github") FORK ME ON GITHUB
          ul.nav.pull-right
            li
              a(href="/auth/github", title="Login") Login
