extends ../layouts/default

block main
  h1 Ideas
  br
  p 
    b Have an Idea?&nbsp;&nbsp;&nbsp;
      a.bigfont(href="/ideas/new", title="create a new idea", class="btn btn-success") create new

block content
  each idea in ideas
    .row
      .span1.ideaVote #{idea.votes.length}
        br
        span votes
      .idea.span9
        a.title(href="/ideas/"+idea.id, title=idea.title)= idea.title
        p by &nbsp;
          a(href="/profile/"+idea.author.username, title=idea.author.name)= idea.author.name
          &nbsp;&nbsp;&nbsp;
          span #{idea.comments.length} comments


