extends ../layouts/default

block main
  h2 #{idea.title}
  br
  p Author :&nbsp;
    a(href="/profile/"+idea.author.username)= idea.author.name
    &nbsp;&nbsp;
    span Votes :&nbsp;
      b= idea.votes.length

block content
  != md.parse(idea.description)
  br
  .ac
    - var method = idea.votes.indexOf(req.user._id) !== -1 ? 'DELETE' : 'POST'
    form(action="/ideas/"+idea._id+"/vote", method="post")
      if (method === 'DELETE')
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-large(type="submit") Cancel vote
      else
        button.btn.btn-primary.btn-large(type="submit") Vote up
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.btn.btn-large(href="/ideas/"+idea._id+"/edit") Edit

  hr
