br
form.form-horizontal(action="/ideas/"+idea.id+'/comment', method="post")
  .row
    .span1
      if(req.user.github)
        img(src=req.user.github.avatar_url)
      else
        img(src=req.user.twitter.profile_image_url)
    .span7
      textarea.input-xxlarge(name="comment[body]", placeholder="Share your thoughts about '"+idea.title+"'", rows="3")
  .row
    .span8
      br
      button.btn.btn-large.btn-primary.pull-right(type="submit") Submit
