.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
body{font-family:"Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;padding-top:60px;}footer{background:#292727;color:#ccc;padding:40px 0;}footer h3{color:#FFF;margin:0 0 10px;}footer ul{list-style-type:none;margin:0 0 10px;}footer ul li{padding:4px 0;}footer ul li a:hover{color:#fff;}footer input[type=submit].btn{margin-top:-8px!important;}.fr{float:right;}.fl{float:left;}.ac{text-align:center;}.al{text-align:left;}.ar{text-align:right;}.clr{clear:both;}.hidden{display:none;}.navbar-inner{background:#eee!important;background-image:none!important;filter:none;-webkit-box-shadow:0 0 6px rgba(0,0,0,0.3);-moz-box-shadow:0 0 6px rgba(0,0,0,0.3);box-shadow:0 0 6px rgba(0,0,0,0.3);padding:19px 0;}.navbar .brand{font-weight:400;font-size:24px;color:#222;}.navbar .brand span{font-size:40px;line-height:0;}.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a{background:none;font-weight:700;color:#222;}.navbar .nav > li{margin:0 0 0 10px;}.navbar .nav > li > a{color:#444!important;font-size:1.1em;text-shadow:0 -1px 0 rgba(255,255,255,0.25);}.navbar .nav > li > a:hover{color:#222;text-decoration:underline;}.navbar .nav > li > button > a{color:#FFF;margin-top:4px;}#macbook_carousel{position:relative;height:560px;background:url(../img/mac.png) top center no-repeat;margin:0 0 20px;}.carousel{width:680px;margin:0 auto;padding:55px 0 0;}.carousel .item{width:680px;height:428px;overflow:hidden;}.carousel img{width:680px;}.carousel-control{position:absolute;top:260px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0;line-height:.4em;padding:14px;}.carousel-control.left{left:-120px;}.carousel-control.right{right:-120px;}.carousel .feature{display:none;width:56px;height:56px;position:absolute;border:1px dashed #000;border-radius:4px;background:transparent;-webkit-transition:all .5s;}.carousel .item:hover .feature{display:block;}.hero-unit{position:relative;background:#fff;padding:40px 0 0;}.hero-unit h1{font-size:3.2em;}.faq ul{list-style-type:none;margin:0;}.faq ul > li{border-bottom:1px solid #eee;padding:6px 0;}.faq ul > li > a{font-size:16px;font-weight:700;}.faq ul > li > p{font-size:1.05em;line-height:1.6em;}.faq input[type=text]{font-size:1.2em;width:400px;padding:14px;}.search_button{border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;margin:-8px 0 0 -10px;padding:14px 28px;}.pricing > div{color:#666;}.pricing ul{list-style-type:none;margin:0 0 20px;}.pricing ul li{border-bottom:1px solid #eee;font-size:1.2em;color:#222;padding:4px 0;}.pricing .well{background:#fff;border:1px solid #ccc;box-shadow:0 0 10px rgba(0,0,0,0.1);}.pricing h2{font-size:30px;color:#0085CC;margin:4px 0 20px;}.pricing .most-popular{margin-top:-15px;}.most-popular{position:relative;color:#fff;display:inline-block;overflow:hidden;font-family:Arial, sans-serif;font-weight:900;}.most-popular p span{position:absolute;display:inline-block;right:-25px;color:#fff;box-shadow:0 0 10px rgba(0,0,0,0.2), inset 0 5px 30px rgba(255,255,255,0.2);text-align:center;text-transform:uppercase;top:22px;background:#d93131;width:100px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);padding:3px 10px;}#work .thumbnail{text-align:center;margin:0 0 20px;}#work .thumbnail a{padding:6px 0 0;}.pagination.tags{margin:0 0 40px;}#explore h3{margin:0 0 10px;}ul.the-icons{margin:0;}ul.the-icons li{display:inline;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin:0;padding:10px 20px;}ul.the-icons li:hover{background:#eee;}.addthis_toolbox{margin:16px 0 0;}footer ul li a,.grey{color:#999;}
.navbar .brand {
  font-family: Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  background: url(../img/logo2.png) 20px 0px no-repeat;
  padding-left: 70px;
  color: #555;
}

.login-with-github {
  background: url(../img/Octocat.png) no-repeat;
  height: 128px;
  width:128px;
}

.idea a.title {
  font-size: 24px;
  padding-bottom: 5px;
  display: inline-block;
  line-height: 30px;
}

.navbar .nav > li > a.icount:hover {
  text-decoration: none;
  color: #08C;
}

.idea {
  margin-bottom: 25px;
}

.idea > p {
  opacity: 0.9;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -261px;
}

.push {
  height: 277px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
  /*padding-top: 60px;*/
}

.ideaVote {
  font-size: 32px;
  line-height: 20px;
  font-weight: bold;
  color: #777;
  text-align: center;
  margin: 10px 0 0 0;
}

.ideaVote > span {
  font-size: 12px;
  font-weight: normal;
  color: #555;
}

.comment {
  margin-top: 15px;
  border-bottom: 1px dotted #ddd;
  ming-height: 75px;
}

.date {
  font-size: 11px;
  color: #bbb;
  margin-bottom: 10px;
}

.hacker {
  margin: 15px 0 0 0;
}

.navbar-inner {
  padding: 12px 0 5px 0;
}

.badge-warning {
  background: #EB592A;
}

.dash .meta {
  font-size: 11px;
  opacity: 0.9;
}

.dash .meta i {
  opacity: 0.3;
}

.dash h2 i {
  margin-top: 10px;
}

.dash .trending a, .dash .recent a, .dash .featured a {
  font-size: 15px;
}

a.voter {
  margin: 10px 10px 0 0px;
}
