extends ../layouts/default

block main
  br
  br
  .span12
    // .span3.offset2
      img(src="/img/Octocat.png", width="128", height="128")
      br
      br
      p
        a.btn.btn-large(href="/auth/github") Log in with github
    .span3.offset4
      img(src="/img/Twitty.png", width="128", height="128")
      br
      br
      p
        a.btn.btn-large(href="/auth/twitter") Log in with twitter

