extends ../layouts/default

block main
  h1 Hackfest 3, Pune
  br
  //p An online social networking platform to discover, innovate and validate ideas.
  p Your favourite no-holds-barred hackathon is back for the third time
block content
  hr
  .row
    .span8
      p.lead 
        b We thank our sponsors
        .span3
          a(href='http://yournextleap.com', title="YourNextLeap", target="__blank")
            img(src="img/sponsor1.png")
          a(href='http://bootstraptoday.com', title="BootStrapToday", target="__blank")
            img(src="img/sponsor3.png")
        .span4
          a(href='http://www.changer.nl', title="Changer", target="__blank")
            img(src="img/sponsor2.png")
    .span4
      br
      p We also thank 
        a(src="www.sapnasolutions.com/") Sapna Infotech Solutions Pvt. Ltd. 
        | for hosting the earlier editions of hackfest.
      br
      p.lead Spread the word
      //
       AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        a.addthis_button_facebook_like(fb:like:layout="button_count")
        // a.addthis_button_google_plusone(g:plusone:size="medium")
        a.addthis_button_tweet
  hr
  .row
    .span4
      h2
        span.grey When
        |  is it happening?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .span4
      h2
        span.grey Where
        |  is it happening?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .span4
      h2
        span.grey How
        |  can I participate?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
