extends ../layouts/default

block main
  h1 Hackfest 3, Pune
  br
  //p An online social networking platform to discover, innovate and validate ideas.
  p Your favourite no-holds-barred hackathon is back for the third time
block content
  hr
  .row
    .span8
      p.lead 
        b We thank our sponsors
        .span4
          a(href='http://yournextleap.com', title="YourNextLeap", target="__blank")
            img(src="img/sponsor1.png")
          a(href='http://bootstraptoday.com', title="BootStrapToday", target="__blank")
            img(src="img/sponsor3.png")
        .span3
          a(href='http://www.changer.nl', title="Changer", target="__blank")
            img(src="img/sponsor2.png")
    .span4
      br
      p We also thank 
        a(src="http://www.sapnasolutions.com/", title="Sapna Solutions", target="__blank") Sapna Infotech Solutions Pvt. Ltd. 
        | for hosting the earlier editions of hackfest.
      br
      p.lead Spread the word
      //
       AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        a.addthis_button_facebook_like(fb:like:layout="button_count")
        // a.addthis_button_google_plusone(g:plusone:size="medium")
        a.addthis_button_tweet
  hr
  .row
    .span4
      h2
        span.orange When
        |  is it happening?
      p.readblock Hackfest3 will be on the third Weekend of this month, which will be 
        B 15th 
        | and
        B 16th September
        | . The event will start at 
        b 1pm 
        | on 
        b Saturday 
        | and will end with final demo on 
        b Sunday evening
        | . 
        br
        br
        img(src="img/calender.png")
    .span4
      h2
        span.orange Where
        |  is it happening?
      p.readblock This time YourNextLeap.com will host the hackfest event at thier office in Baner, Pune. 
        br
        br 
        a(href='https://maps.google.co.in/maps?ie=UTF8&cid=3170579895716510567&q=YourNextLeap&iwloc=A&gl=IN&hl=en', title="Map", target="__blank")
          img(src="img/map.png")
        br
        br
        b Street address:
        br
        em 1, Irawati, Survey No.87, Near Ganraj Mangal Hall, Swati Park, Baner Pune, Maharashtra 41104 

    .span4
      h2
        span.orange How
        |  can I participate?
      p.readblock If you are a 
        b developer
        |, 
        b designer
        |  or 
        b product person
        |, you can register for the event right away by clicking on the "Get Involved" button
        br
        br
        img(src="img/howto.png")
        br
        br
        | and authenticating with your github or Twitter id.
        br
        | Next you can find other participants in the "Hackers" tab at the top right. 
        br
        | If you have an idea to implement, share it here. Else you  can explore ideas, that others have shared and colaborate with them.   