extends ../layouts/default

block main
  h1 About

block content
  .hero-unit
    .thumbnail
      img(src="http://f.cl.ly/items/2d431m0h1n0a2z3L2I0Y/about.jpg")
    br
    .row
      p.span4.ac
          br
          a.btn.btn-large.btn-primary(href="mailto:info@hackfest.in")
            b Write us
          br
          br
          b Hackfest
          br
          | Changer Technologies, 3rd Floor, C-1 Building, Nyati Millennium, Viman Nagar, Pune – 411014, India&nbsp;
          a(href="http://goo.gl/maps/HXeY", target="_blank") Get Directions
          br
        p.span4
          |  Deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit est eu id culpa irure et in in dolore.
          |  Lorem ipsum elit non nostrud in commodo sunt incididunt id do Duis tempor pariatur velit.
        p.span4
          |  Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit est eu id

