extends ../layouts/default

block main
  h1 FAQ
  br
  p Answers to frequently asked questions.

block content
  .faq
    ul
      li
        h3 What is hackfest?
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit est eu id culpa irure et in in dolore.
      li
        h3 Why are you doing this?
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          |  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          |  architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
          |  sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          |  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
          |  consectetur, adipisci velit, sed quia non
      li
        h3 How do I enroll myself?
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit est eu id culpa irure et in in dolore.
          |  Lorem ipsum elit non nostrud in commodo sunt incididunt id do Duis tempor pariatur velit
          |  in ullamco.
      li
        h3 What do I need to know?
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi. Lorem ipsum officia et laborum anim nisi commodo incididunt magna fugiat
          |  elit anim sit qui laborum adipisicing nulla culpa aliquip.
      li
        h3 How are ideas chosen?
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident.
      li
        h3 How do I form a team?
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit est eu id culpa irure et in in dolore.
          |  Lorem ipsum cupidatat aute ullamco et nisi incididunt.
      li
        h3 I want to conduct a hackfest in my town
        p Lorem ipsum occaecat in laboris irure Duis minim Ut amet ex aliquip irure labore in
          |  deserunt dolor ad et consequat velit Ut dolore ut pariatur est sit in eiusmod cupidatat
          |  sunt nisi elit Duis aliqua proident labore sit.
