extends ../layouts/default

block main
  h1 Hackfest 3 Schedule
br
br
br
block content
  .span5.offset2
    .h2 
      b.bigfont 15th Sept (Saturday)
    br
    .row.readblock
      .span1
        b 1 pm
      .span4
        | sign up for hackathon.
    .row.readblock
      .span1
        b 1-15 pm
      .span4
        | Talk: Introduction to Grap DB.
    .row.readblock
      .span1
        b 1-30 pm
      .span4
        | Talk: Advance topics on Grap DB and Neo4j.
    .row.readblock
      .span1
        b 2:15 pm
      .span4
        | Talk: Advance topics on Node.js.
    .row.readblock
      .span1
        b 2-30 pm
      .span4
        | Talk: Application Lifecycle management.
    .row.readblock
      .span1
        b 2-40 pm
      .span4
        | Pitch your idea.
    .row.readblock
      .span1
        b 3-30 pm
      .span4
        b Declare teams and start coding.
    .row.readblock
      .span1
        b 6 pm
      .span4
        | Snacks break.
    .row.readblock
      .span1
        b 9-30 pm
      .span4
        | Dinner break.  

  .span5
    .h3 
      b.bigfont 16th Sept (Sunday)
    br
    .row.readblock
      .span1
        b 9 am
      .span4
        | Break for breakfast.
    .row.readblock
      .span1
        b 1-30 pm
      .span4
        | Lunch break.
    .row.readblock
      .span1
        b 4 pm
      .span4
        b Reminder call for wrap-up.
    .row.readblock
      .span1
        b 5 pm
      .span4
        | Final call for wrapup.
    .row.readblock
      .span1
        b 5-10 pm
      .span4
        | Demo start.  
    .row.readblock
      .span1
        b 6 pm
      .span4
        | Declare winners.  